.TodoHeader-container {
    border-top: none;
    border-right: none;
    border-left: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}
