.Input {
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 800px;
    display: block;
    height:30px;
    background-color: white;
    position: relative;
    left: 0px;
    top: 3px;
}