.checked-item {
    text-decoration: line-through;
}

.list-group-item {
    margin: 5px;
    margin-right: 0px;
    border: 1px solid lightskyblue;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 2px;
}

.checkbox-container{
    position: relative;
  left: 0px;
}
.text-cut{
    text-align: left;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
}