.checked-item {
    text-decoration: line-through;
}
.li-conteiner {
    border: 1px solid lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 2px;
}