.conteiner {
    text-align: center;
    width: 1200px;
}
.list-inline{
   margin-left: 60px;
}
.color{
    margin: 0 auto;
    width: 500px;
}

.button-conteiner {
    width: 1000px;
    margin: 0 auto;
}

.ul-container{
    list-style: none;
    margin: 0;
    padding: 0;
}
.strong-container{
    margin-left: 5px;
}
.checkbox-container{
    margin-left: 5px;
    width: 50px;
}
.popover {
    position: absolute;
    zIndex: 2;
}
.cover {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}