.AntCardBody-container {
border-left: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    height:150px;
    background-color: white;
    width: 1000px;
   margin-left: 150px;
    margin-left: 150px;

}